<html>
<head>
	<title>Home Page for Rails App</title>
</head>
<body>
home

<table>
  <tr>
    <th>Order number</th>
    <th>Title</th>
    <th>Summary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


</table>



</body>
</html>